html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: $body-bg;
    color: $color-black;
    font-size: 16px;
}

#snow-effect {
    height: 100vh;
    min-height: 100%;
    background-color: #009688;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.login-card {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    width: 380px;
    font-size: 16px;
}

@media (max-width: 576px) {
    .login-card {
        width: 95%;
    }
}
