.custom-rounded {
    border-radius: $radius;
}
.custom-link {
    text-decoration: none;
    color: $color-2;
    &:hover {
        color: $color-2;
        text-decoration: none;
        text-shadow: 1px 2px 20px $color-2;
    }
}

ol.show-gracefully > li {
    opacity: 0;
}

ol.show-gracefully.is-ready > li {
    transition: opacity 0.5s ease-in;
    opacity: 1;
}
