.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    font-size: 15px;
    top: 0;
    left: 0;
    overflow: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f8f9fa;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $radius;
        background-color: $color-1;
    }
}
.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar {
    &.active {
        margin-left: -17rem;
    }
}

#content {
    &.active {
        width: 100%;
        margin: 0;
    }
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}
.text-gray {
    color: #aaa;
}
.nav-link {
    text-transform: capitalize;
    &:hover {
        background: #f3f2f2;
    }
}
.text-primary {
    color: $color-4 !important;
}
.sidebar-accessory {
    font-size: 22px;
}
.sidebar-close {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 342;
    top: 50%;
    left: -5rem;
    background-color: $color-5;
    color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.8s;
    .fa-chevron-left {
        font-size: 26px;
        margin-top: 28%;
    }
}

.block {
    display: block;
}
@media (max-width: 992px) {
    #sidebar {
        margin-left: -17rem;
        z-index: 54;
    }
    #sidebar.active {
        margin-left: 0;
        z-index: 55;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    .sidebar-close {
        left: -5rem;
    }
    .sidebar-close {
        &.active {
            left: 17rem;
        }
    }
}
