.text-1 {
    color: $color-1;
}
.text-2 {
    color: $color-2;
}
.text-3 {
    color: $color-3;
}
.text-4 {
    color: $color-4;
}
.text-5 {
    color: $color-5;
}
.text-6 {
    color: $color-6;
}
.text-size {
    font-size: 2.5rem;
}
.initial {
    overflow-wrap: initial;
}
