$color-1: #ff5722;
$color-2: #e64a19;
$color-3: #29b6f6;
$color-4: #3f51b5;
$color-5: #009688;
$color-6: #00897b;

$color-dark: #37474f;
$color-black: #000;
$color-white: #fff;
$color-danger: #e91a2e;
$body-bg: #f7f8fc;

$radius: 20px;

// $color-1: #ff5722;
// $color-2: #e64a19;
// $color-3: #29b6f6;
// $color-4: #3f51b5;
// $color-5: #009688;
// $color-6: #00897b;
// $color-dark: #37474f;
// $color-black: #000;
// $color-white: #fff;
// $body-bg: #f7f8fc;
// $radius: 20px;
